#main-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 1em;
}

* {
    font-family: sans-serif;
    color: #333;
}

h1 {
    font-size: 40px;
}

p, a {
    font-size: 24px;
}

a {
    color: #d142cc;
}