#main-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 1em;
}

* {
    font-family: sans-serif;
    color: #555;
    font-weight: 100;
}

h1 {
    font-size: 40px;
}

p, a {
    font-size: 22px;
}

a {
    color: #d142cc;
}