<footer class="panel--centered" role="contentinfo">
  <div class="grid">
    <div class="centered grid__col--6">
    	<!-- <img class="img--avatar" src="https://avatars1.githubusercontent.com/u/11843681"> -->
      <p>{{ site.description }} <br>
        Find on <a href="https://github.com/{{ site.github_username }}">GitHub</a> or
        subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a> <br>
        <a href="https://linkedin.com/in/{{ site.linkedin_username }}">LinkedIn</a>
      </p>
    </div>
  </div>
</footer>
