<!-- Capture and store URL -->
{% capture location %}{{ page.url | split:'/' }}{% endcapture %}

<header class="main-header" role="banner">
  <div class="grid">
    <div class="grid__col--12">
      <a class="site-logo" href="/" title="Home">
        James Cool
        <!-- <simpla-text sid="site-title-text"></simpla-text> -->
      </a>
      <nav class="navbar" role="navigation">
        <ul class="nav">
        {% for page in site.pages %}
					{% unless page.exclude %}
	        	<!-- Compare the page title to the URL -->
	        	{% assign current = page.title | downcase %}
	          {% if page.title %}
	          <li {% if location == current %} class="nav__item--current" {% else %}
	          class="nav__item" {% endif %}>
	            <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
	          </li>
	          {% endif %}
					{% endunless %}
        {% endfor %}
        </ul>
      </nav>

			<!-- Mobile Nav-->
			<a id="toggle" href="#">
				<div class="menubars"></div>
			</a>
			<nav class="mobile-navbar">
					<div class="nav-background">
						<ul>
							<li>
								<a href="/">Home</a>
							</li>
							 {% for page in site.pages %}
			         <!-- Compare the page title to the URL -->
			         {% assign current = page.title | downcase %}
			           {% if page.title %}
			           <li>
			             <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
			           </li>
			           {% endif %}
			         {% endfor %}
						</ul>
				</div>
			</nav>
    </div>
  </div>
</header>
