// ==========================================================================
// Navbar
// ==========================================================================

.navbar {
	position: relative;
	@include mq(small) {
		/* include this margin-bottom and remove "display: none" if mobile nav is removed */
		/* margin-bottom: em(40px); */
		display: none;
	}
	@include mq(medium) {
		float: right;
		margin-top: em(9px);
		margin-bottom: em(24px);
	}
}

.mobile-navbar {
	@media (min-width: 768px) {
		display: none;
	}
	ul {
		margin: 0;
		padding: 0;
		line-height: inherit;
		font-size: inherit;
		visibility: hidden;
		top: -5%;
		width: 100%;
		padding: 0;
		opacity: 0;
		display: table-cell;
		vertical-align: middle;
		-webkit-transform: perspective(600px) rotateX(10deg);
		transform: perspective(600px) rotateX(10deg);
		-webkit-transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63);
		-moz-transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63);
		-o-transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63);
		transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63);

		li {
			list-style: none;
			text-align: center;
			a {
				margin: 0 auto;
				display:inline-block;
				color: #fff;
				padding: .7em 0;
				width: 50%;
				font-size: 1.4em;
				font-weight: 600;
				text-decoration: none;
				&:hover,
				&:active {
					color: #000;
				}
			}
		}
	}
}

.nav-background {
	z-index: 99;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: none;
	display: table;
	-webkit-transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
	-moz-transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
	-o-transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
	transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
}
#toggle {
	@media (min-width: 769px) {
		display: none;
	}
	height: 3em;
	z-index: 999;
	padding: 1.5em 1em 0;
	cursor: pointer;
	position: fixed;
	top: 0;
	right: .5em;
	-webkit-transition: padding-top 0.6s cubic-bezier(0.1, 0.01, 0.3, 1);
	transition: padding-top 0.6s cubic-bezier(0.1, 0.01, 0.3, 1);
}

.menubars {
  width: 24px;
  height: 4px;
  background: #797e83;
  position: relative;
  z-index: 999;
  -webkit-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
  &:before {
    top: -8px;
  }
  &:after {
    top: 8px;
  }
  &:after,
	&:before {
    content: '';
    display: block;
    width: 24px;
    height: 4px;
    background: #797e83;
    position: absolute;
    z-index: -1;
    -webkit-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
  }
}

.js-open {
  height: 100%;
	.menubars {
		background: none;
		&:after {
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		&:before {
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}
		&:before,
		&:after {
			top: 0;
			background: #fff;
		}
	}
	.nav-background {
		background: rgba(51,159,200, 0.9);
		ul {
			visibility: visible;
			opacity: 1;
			-webkit-transform: perspective(600px) rotateX(0deg);
			-moz-transform: perspective(600px) rotateX(0deg);
			-ms-transform: perspective(600px) rotateX(0deg);
			-o-transform: perspective(600px) rotateX(0deg);
			transform: perspective(600px) rotateX(0deg)
		}
	}
}  // end .js-open

.sect-hero {
  .inside {
    margin: 8%;
		color: #fff;
  }
  h1 {
   font-size: 3em;
   margin: 0;
  }
}

// prevent scrolling when overlay is visible
// this was causing the body of the side to move down when the mobile nav was activated.
// don't seem to need this anyway...
body.js-open,
.mobile-navbar.js-open {
	overflow: hidden;
}
