// ==========================================================================
// Pages
// ==========================================================================

// NOW page
.now-list li {
  margin-bottom: .7em!important;
  list-style-type: initial;
  list-style-position: inside;
}
