// NOW page
.now-list li {
  margin-bottom: .7em!important;
  list-style-type: initial;
  list-style-position: inside;
}

// CONTACT page
input[name="name"],
input[name="_replyto"],
textarea[name="message"],
input[type="submit"] {
	border: 1px solid #ddd;
}

input[name="_replyto"],
textarea[name="message"],
input[type="submit"] {
	margin-top: 7px;
}

input[name="_gotcha"] {
	display: none;
}

input[type="submit"] {
	background-color: #F0F0F0;
}

textarea {
	color: #eee;
}
