body,
input {
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #fff;
  margin: 0;
  padding: 0;
}

.qbcalc {
  border: 2px solid #ddd;
  margin: 40px auto;
  position: relative;
  width: 95%;
  max-width: 1024px;
  height: auto;
  padding: 30px;
  border-radius: 13px;
}

.qbcalc h1 {
  color: #333;
  font-size: 40px; /* Approximation due to font substitution */
  font-weight: 300;
  line-height: 1; /* Approximation due to font substitution */
  margin-top: 0;
  position: relative;
  z-index: 5;
  font-size: 2.2em;
}

div.column1 {
  display: inline-block;
  width: 22%;
  clear: left;
  position: relative;
  top: 7px;
  z-index: 3;
}

div.column2 {
  display: inline-block;
  width: 67%;
  float: right;
}

.column2 h2 {
  padding-top: 0;
  margin-top: 0;
  color: #333;
}

.column2 {
  margin-left: 90px;  /*reduced to 68px temporarily*/
}

.last-panel-left {
  width: 42%;
  display: inline-block;
  margin-right: 26px;
  margin-top: 51px;
}

div.last-panel-left h3 {
  color: #666;
  position: relative;
  z-index: 5;
  font-size: 1.1em;
}

span.reddish {
  color: #C60E32;
}

.image-container {
  border: 2px solid #ddd;
  border-radius: 6px;
  margin-top: 10px;
  position: relative;
  z-index: 1;
  height: 186px;         /*added height value when C3 was implemented*/
}
.image-container.demo-chart {
  background: url(../img/chart.png) no-repeat center center;
}

div.positive-income {
  background-color: #a2ca07;
  background: -webkit-linear-gradient( 0deg, #a2ca07 90%, #86A607);
  background: -o-linear-gradient(0deg, #a2ca07 90%, #86A607);
  background: -moz-linear-gradient(0deg, #a2ca07 90%, #86A607);
  background: linear-gradient(0deg, #a2ca07 90%, #86A607);
  border-radius: 9px;
  padding-top: 11px;
  padding-bottom: 11px;
  position: relative;
  top: -10px;
  z-index: 3;
}

div.positive-income p {
  color: white;
  text-align: center;
  margin: 0;
}

div.positive-income p.value {
  font-size: 2em;
}

.form-wrap {
  height: 357px;
}

/*this rule fixes the button height on the last page*/
.form-wrap.fix {
  height: 409px;
}

.next {
  background-color: #a2ca07;
  border-radius: 3px;
  padding-top: 9px;
  padding-bottom: 9px;
  color: white;
  position: relative;
  font-weight: bold;
  border: none;
  width: 117px;
  text-decoration: none;
  padding: 14px 16px;
  float: right;
  text-align: center;
  left: -374px;
  bottom: 16px;
}

/*this positions only the very first "next" button*/
.next.first-button {
  float: left;
  left: 0;
}


.back {
  background-color: #6B6F70;
  border-radius: 3px;
  padding-top: 9px;
  padding-bottom: 9px;
  color: white;
  position: relative;
  font-weight: bold;
  border: none;
  width: 117px;
  text-decoration: none;
  padding: 14px 16px;
  float: left;
  text-align: center;
  bottom: 16px;
}

.compare {
  background-color: #0377C6;
  border-radius: 3px;
  padding-top: 9px;
  padding-bottom: 9px;
  color: white;
  position: relative;
  font-weight: bold;
  border: none;
  text-decoration: none;
  padding: 14px 38px;
  margin-left: 173px;
  clear: right;
  bottom: 2px;
}

table {
  position: relative;
  left: 6px;
}

div.column1 tr.underline {
  border-bottom: 1px solid #ddd;
}

div.column1 td, div.column1 th {
  color: #6c6f70;
  font-size: 15px;
  line-height: 1;
  text-align: left;
  padding: 5px 0;
}

div.column1 th,
div.column1 td {
  padding-right: 42px;
}

div.column1 th {
  color: #333;
}
div.column1 td.total, div.column1 th.total {
  text-align: right;
}
.square {
  float: left;
  margin-right: 5px;
  width: 13px;
  height: 13px;
}
.housing {
  background-color:  #f9c500;
}
.transportation {
  background-color:  #00a8bc;
}
.educational {
  background-color:  #9de031;
}
.personal {
  background-color:  #ff00b9;
}
.savings {
  background-color:  #ea8800;
}

/*styles for input fields*/
input {
  box-sizing: border-box;
  border-radius: 6px;
  border: 2px solid #ccc;
  width: 300px;              /*reduced to 295 temporarily*/
  height: 52px;              /*before box-sizing, was 47px*/
  position: relative;
  font-weight: bold;
  color: #777;
  margin-top: 13px;
  padding-right: 9px;
}

input[type="text"] {
  text-align: right;
  margin-bottom: 9px;
}

p.salary,
p.other,
p.mort,
p.HOA,
p.rent,
p.ins,
p.repairs,
p.utilities,
p.TV,
p.phone,
p.car,
p.car-ins,
p.gas,
p.car-repair,
p.school,
p.loans,
p.tuition,
p.groc,
p.cloth,
p.laundry,
p.ent,
p.med,
p.pet,
p.other-exp,
p.emergency,
p.invest,
p.retire {
  position: absolute;
  z-index: 100;
  font-weight: bold;
}

p.salary, p.mort, p.car, p.school, p.groc, p.emergency {
  margin-left: 12px;
  margin-top: 28px;
}

p.other, p.HOA, p.car-ins, p.loans, p.cloth, p.invest {
  margin-left: 368px;
  margin-top: 28px;
}

p.phone {
  margin-left: 368px;
  margin-top: 250px;
}

p.TV {
  margin-left: 12px;
  margin-top: 250px;
}

p.utilities, p.other-exp {
  margin-left: 368px;
  margin-top: 176px;
}

p.repairs, p.pet {
  margin-left: 12px;
  margin-top: 176px;
}

p.ins, p.car-repair, p.med {
  margin-left: 368px;
  margin-top: 102px;
}

p.rent, p.gas, p.tuition, p.laundry, p.retire, p.ent {
  margin-left: 12px;
  margin-top: 102px;
}

.left-input {
  margin-right: 50px;
}

input:focus {
  outline: none !important;
  border:2px solid #a2ca07;
  border-radius: 6px;
  color: #333;
}

.whats-new-hero {
  position: relative;
  bottom: 227px;
  right: 116px;
  width: 114%;
  z-index: 0;
}

/*************************C3 chart CSS*****************************/

.c3-legend-item,
.c3-chart-arc text {
  display: none;
}


/*************************ALEX CSS*****************************/

/* progress bar steps tracker */
.prog {
  display: block;
  width: 96%;
  height: 71px;
  padding-top: 25px;
}
.prog ul {
  display: block;
  font-size: 14px;
  line-height: 16px;
  list-style: none;
  position: relative;
  margin: 0 10px;
  padding: 0;
}
.prog li {
  float: left;
  position: relative;
  width: 20%;
  height: 20px;
}
.prog li.last {
  width: 20px;
  position: absolute;
  top: 0;
  right: -10px;
}
.prog a {
  background: #fff;
  border: 3px solid #ddd;
  border-radius: 50%;
  color: #666;
  float: left;
  text-align: center;
  text-decoration: none;
  width: 16px;
  height: 16px;
  position: absolute;
  margin-top: -8px;
  left: -10px;
  z-index: 3;
  padding: 8px;
  font-size: 17px;
  font-weight: bold;
  transition: all linear 200ms;
}
.prog .last a {
  left: 0;
}
.prog div {
  background: #ddd;
  float: left;
  width: 100%;
  height: 5px;
  position: relative;
  top: 9px;
  z-index: 1;
  transition: all linear 0.5s;
}

/*the "completed" class styles the divs that denote lines between the numbers*/
.prog .completed div {
  background: #a2ca07;
}
.prog .active a,
.prog .completed a {
  background: #a2ca07;
  color: #fff;
  border: none;
  margin-top: -9px;
  padding: 11px;
}
/* steps panels */
.panel {
  display: none;
}
.panel.active {
  display: block;
}
#chart {
  height: 200px;
  width: 221px;
}


/***********************END ALEX CSS***************************/


.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*don't display labels in desktop:  */
.mobile-label {
  display: none;
}

/*don't display second image in desktop:  */
.whats-new-hero-2 {
  display: none;
}

/*this gets rid of the inset shadow on input elements on ipad Safari (but not checkboxes and radio buttons)*/
input:not([type="checkbox"]):not([type="radio"]) {
  -webkit-appearance: none;
}

/*this gets rid of the giant X in Internet Explorer input fields*/
::-ms-clear,
::-ms-reveal {
  width : 0;
  height: 0;
}

/*TWO RULES BELOW: trying to get rid of the input shadows in android FireFox -- does not work*/
/*::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
  box-shadow: none;
}*/

.seo-section {
  margin: 0 auto;
  width: 95%;
  max-width: 1024px;
  border-top: 1px solid #ccc;
  padding: 30px;
}

.seo-section p {
  font-size: 14px;
  color: #444;
  margin-top: 0;
}

.seo-section h4 {
  color: #444;
  margin: 0;
}

div.redundant-section {
  margin: 25px auto;
  position: relative;
  width: 95%;
  max-width: 1024px;
  height: 243px;
  padding: 30px;
}

div.redundant-section div.left-image {
  width: 34%;
  display: inline-block;
  height: 100%;
}

div.redundant-section div.right-text {
  width:62%;
  display: inline-block;
  height: 166px;
  vertical-align: top;
  margin-top: -9px;
}

div.redundant-section div.left-image img.whats-new-hero-2 {
  display:inline-block;
  width: 90%;
}

div.redundant-section p.count-on-us {
  font-size: 17px;
}

.compare-mod {
  margin-left: 0;
  display: inline-block;
  margin-top: 15px;
  z-index: inherit;
  margin-bottom: 20px;
}

.c3-empty {
  opacity: 1 !important;
}


/********************DYNAMIC LAST PANEL*****************************/

.contain-excess {
  display: none;
  width: 118%;
}

.contain-congrats {
  display: none;
}

.contain-excess h1,
.contain-congrats h1 {
  font-size: 2em;
}

.no-bold {
  font-weight: 100;
  color: #333 !important;
}

.contain-excess .header-wrapper {
  max-width: 251px;
}

.green-box {
  border: 2px solid #a2ca07;
  border-radius: 5px;
  margin-bottom: 21px;
}

.green-box p {
  color: #a2ca07;
  font-size: 15px;
  text-align: center;
  margin: 0;
  padding: 5px;
}

.red-box {
  border: 2px solid red;
  border-radius: 5px;
  margin-bottom: 21px;
}

.red-box p {
  color: red;
  font-size: 15px;
  text-align: center;
  margin: 0;
  padding: 5px;
}


/******************END DYNAMIC LAST PANEL***************************/




/******************MEDIA QUERIES***************************/


/*breakpoints to prevent inputs from wrapping before main media queries take place*/
@media screen and (max-width: 1095px) {
  .left-input {
    margin-right: 5px;
  }
  p.other,
  p.HOA,
  p.car-ins,
  p.loans,
  p.cloth,
  p.invest,
  p.ins,
  p.utilities,
  p.phone,
  p.car-repair,
  p.med,
  p.other-exp {
    margin-left: 329px;
  }
  input {
    width: 291px;
  }
  .next,
  .back {
    width: 14%;
  }
  .qbcalc {
    border: none;
    margin-top: 0;
  }

  div.positive-income {
    min-width: 224px;
  }
  div.image-container {
    min-width: 221px;
  }
}

/*breakpoints for swapping out image, formatting last page, headings*/
@media screen and (max-width: 728px) {
  /*hide hero*/
  .whats-new-hero {
    display: none;
  }
  .last-panel-left {
    display: block;
    width: 96%;
    margin: auto;
  }
  .qbcalc {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .last-panel-left h1,
  .last-panel-left h3,
  .qbcalc h1 {
    text-align: center;
  }

  .whats-new-hero-2 {
    display: block;
    margin: 0 auto;
    width: 85%;
    max-width: 327px;
  }

/*this resets the max-width property in small viewports*/
  .contain-excess .header-wrapper {
    max-width: inherit;
  }

  .contain-excess {
    width: 100%;
  }

  .red-box p,
  .green-box p {
    font-size: 14px;
  }

  .contain-excess h1,
  .contain-congrats h1 {
    font-size: 1.6em;
  }

  .contain-excess .header-wrapper h3,
  .contain-congrats .header-wrapper h3 {
    font-size: .9em;
  }
}

/*main media queries: buttons, inputs set to 100% width*/
@media screen and (max-width: 1000px) {
  p.hide {
    display: none;
  }
  input {
    width: 100%;
  }
  .left-input {
    margin-right: 0;
  }
  div.column2 {
    display: block;
    width: 100%;
    margin-left: 0;
  }
  .form-wrap {
    height: auto;
    margin-bottom: 30px;
  }
  div.column1 {
    display: block;
    margin: 0 auto;
    min-width: 226px;
    top: 20px;
    width: 100%;
  }
  a.next,
  a.compare,
  a.back {
    margin-right: 0;
    margin-left: 0;
    text-align: center;
    display: block;
    width: 100%;
    left: 0;
    float: none;
    padding: 17px 0;
    /*this forces the buttons to sit on top of the tall column1 div*/
    z-index: 5;
  }
  .back {
    margin-top: 10px;
  }
  .compare {
    margin-bottom: 24px;
    padding: 14px 16px;
  }
  input[type="text"] {
    text-align: left;
    text-indent: 10px;
    padding-right: 0;
    margin-top: 4px;
    margin-bottom: 24px;
    /*this forces the input fields to sit on top of the tall column1 div*/
    z-index: 5;
  }
  .next.first-button {
    float: none;
  }
  .whats-new-hero {
    max-width: 1100px;
  }
  .mobile-label {
    display: block;
    margin: 0;
    font-weight: bold;
    color: #555;
  }
  table {
    left: 0;
    margin: auto;
    width: 100%;
  }
  /*center chart when viewport is resized and the container expands*/
  div.C3-wrapper {
    margin: auto;
  }
  div.image-container {
    height: 314px;
    margin-top: 25px;
  }
  #chart {
    width: 314px;
    height: 314px;
    margin: auto;
  }
  div.redundant-section div.left-image {
    display: none;
  }
  div.redundant-section div.right-text {
    width: 100%;
  }

  .compare-mod {
    display: inline-block;
  }
  .seo-section {
    padding: 25px 0 0 0;
  }

  div.redundant-section {
    padding: 0;
    height: auto;
  }

  div.redundant-section div.right-text {
    height: auto;
  }
}
