---
layout: default
---
<div class="grid">
	<div class="grid__col--12 page">

	  <header class="post__header">
			<!-- the conditional below will only insert the page title if the title is not "blog" -->
			<!-- this didn't work as expected; caused issues with the navigation; don't use it-->
	    <h1 class="headline-primary">
				{% if page.title != 'Text' %}
					{{ page.title }}
				{% endif %}</h1>
	  </header>

	  <article class="post__content">
	  {{ content }}
	  </article>

	</div>
</div>
